* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

header{
    background-color: black;
    color: white;
    height: 20em;   
}

h1 {
    text-align: center;    
}

.navbar{
    display:flex;
    justify-content: space-around;
}

.navbar li{
    margin-top:5em;
}


main{
    background-color: gray;
    height: 20em;

}

footer {
    background-color: black;
    color: white;
    height: 20rem;
    
}

.link {
    display:flex; 
    justify-content: space-around;
}

h2{
    text-align: center;
    margin:1em;
}

.nav_footer{
    display:flex;
    justify-content: space-around;
}

.nav_footer li{
    margin: 1em 5em;
    
}

li {
    text-align: center;
}

footer p {
    text-align: center;
    margin:3em;
}



