* {
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 75px;
    margin: 0.5em;
    font-family: 'Amatic SC', cursive;
    color: #FF968A;
    text-align: center;
    font-weight: bold;
}

h3 {
    font-size: 60px;
    margin: 2em;
    margin-bottom: 0.5em;
    font-family: 'Amatic SC', cursive;
    color: #FF968A;
}

h4 {
    font-size: 40px;
    text-align: left;
    margin: 0.8em;
    font-family: 'Amatic SC', cursive;
    color: #FF968A;
}

p {
    color: rgb(135, 140, 146);
    font-size: 20px;
}

.adventure p {
    text-align: left;
    margin: 0 2em;
}

.myPicture img {
    width: 100%;
    box-shadow: 10px 5px 5px rgb(148, 147, 147);
    border-radius: 5%;
}

.presentation p, .adventure {
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.background {
    background-image: url(image/backgroundT.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.grid {
     display:grid;
     grid-template-columns: 1fr 1fr 1fr;
     margin: 3em auto;
     text-align: center;
     width: 80%;
}

 .img-chemin img {
     width: 100%;
     box-shadow: 10px 5px 5px rgb(148, 147, 147);
     border-radius: 8px;
     opacity: 1;
 }

 .dot img {
    width: 100%;
 }

 /* Conteneur principal*/
.overlay-image {
    position: relative;
    width: 100%;
   }
.overlay-image .text {
    color: #fff;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    line-height: 1.5em;
    text-shadow: 2px 2px 2px #000;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
   }

       /* Hover image et texte */
    /* Overlay */
    .overlay-image .hover {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
       }
       /* Apparition overlay sur passage souris */
       .overlay-image:hover .hover {
        opacity: 1;
       }
    
    .myPicture {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .adventure img {
        width: 40%;
        margin: 1.5em;
    }

    hr {
        color: rgb(148, 147, 147, 0.7);
    }

@media screen and (max-width:760px) {

    h3 {
        font-size: 50px;
    }
    
    h4 {
        font-size: 35px;
        text-align: left;
        margin: 2em;
        text-transform: uppercase;
    }

    .grid {
        display: flex;
        flex-flow: column wrap;
    }

    .dot {
        display: none;
    }

    img {
        margin: 0.5em 0;
    }
    
    img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
    }

    .overlay-image .text {
        font-size: 50px;
    }

    .background {
        background-image: none;
    }

    .container {
        width: 90%;
    }
}